.active {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #00b087;
  border-radius: 4px;
  padding: 4px 12px;
  width: 80px;
  height: 29px;
  background: rgba(22, 192, 152, 0.38);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #008767;
  cursor: pointer;
  padding: 0;
}

.inactive {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #df0404;
  border-radius: 4px;
  padding: 4px 12px;

  width: 80px;
  height: 29px;
  background: #ffc5c5;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #df0404;
  padding: 0;
}
